.settings-container {
  background: var(--color-card-light);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin: 2rem auto;
  max-width: 600px;
}

.settings-container label {
  font-weight: var(--font-bold);
}

@media (prefers-color-scheme: dark) {
  .settings-container {
    background: var(--color-card-dark);
    color: var(--color-text-dark);
  }
}
