node_modules/
dist/
.env
.env.*
*.log
coverage/
.zip
*.tgz
*.tar.gz
*.tar
*.tgz
*.zip
*.tar.gz
*.tar
*.tgz
.next/
next/
.next/cache/
.next/standalone/
.next/server/
.next/static/
.next/typescript/
.next/build/
.github/
.vscode/
*fc-appkit.*
*.swp
*.swo
*.md
.mdc
*.mdx
*.rules
.rules